////Font size (set html{ font-size: 62.5%; })
@mixin font-size($sizeValue: 1.6, $line: $sizeValue * 1.5) {
  font-size: ($sizeValue * 1) + px;
  line-height: ($line * 1) + px;
  font-size: ($sizeValue / 10) + rem;
  line-height: ($line / 10) + rem;
}
 
//Usage  @include font-size(18);
 
 
////Mediaqueries 
@mixin respond-to($media) {
    @if $media == x-small {
        @media only screen and (max-width: 440px) { @content; }
    }
    @if $media == small {
        @media only screen and (min-width: 700px) { @content; }
    }
    @else if $media == medium {
        @media only screen and (min-width: 950px) { @content; }
    }
    @else if $media == large {
        @media only screen and (min-width: 1030px) { @content; }
    }
}
 
//Usage  @include repond-to(small){ css: properties; }
 
 
////Retina/high pixel ratio images
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
 
    background-image: url($image);
    background-size: $width $height;
  }
}
 
//Usage  @include image-2x('image@2x.png', 25px, 25px);
 
 
/////Image fallback for gradients
@mixin gradient($image, $gradient) {
    @include background ($image);
    @include background ($gradient);        
}
 
 
////Clear floats
@mixin clearfloat {
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}
 
//Usage @include clearfloat;
 
 
////Image replacement
%hide-text {
    color: transparent;
    font: 0/0 a; 
    text-shadow: none;
}
 
//usage @extend %hide-text;